<div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <a href="/logout">Logout</a>
    </div>
    <div class="jumbotron">
        <h1>Welcome</h1>
        <h2>{{name}} {{last}} {{id1}}</h2>
        

         <a href="/tracking">Track guides</a>
    </div>


</div>

